[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
gremlinpython = "*"
"zest.releaser" = "*"
setuptools-git = "*"
twine = "*"
graph-runner = {editable = true, path = "."}
"jinja2" = "*"
inflection = "*"

[dev-packages]

[requires]
python_version = "3.6"
