aenum==2.2.1
atomicwrites==1.3.0
attrs==19.1.0
bleach==3.1.2
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cmarkgfm==0.4.2
colorama==0.4.1
docutils==0.15.2
future==0.17.1
gremlinpython==3.4.2
html5lib==1.0.1
idna==2.8
importlib-metadata==0.19
isodate==0.6.0
more-itertools==7.2.0
packaging==19.1
pkginfo==1.5.0.1
pluggy==0.12.0
py==1.8.0
pycparser==2.19
Pygments==2.4.2
pyparsing==2.4.2
pytest==5.0.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
setuptools-git==1.2
six==1.12.0
tornado==4.5.3
tqdm==4.32.2
twine==1.13.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
zest.releaser==6.19.0
zipp==0.5.2
